table, th, td{
    border: 3px solid black; !important;
    border-collapse: collapse;
    padding: 2px;
}

#topBanner {
    width: 100%;
    height: 90px;
    background-image: url("../img/pokebanner.png");
    background-size: contain;
    opacity: .7;
}

#bannerHeading {
    opacity: 1; !important;
    font-weight: bolder;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pokebanner.png");

    /* Set a specific height */
    height: 300px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}