.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
    height: 346px;
}

.main {
    width: 70%;
}

.light-title-bar {
    opacity: .5;
}

h3{
    margin: 0;
    padding: 0;
    width: 100%;
}

banner-text {
    margin: 0;
    padding: 0;
    width: 100%;
}