* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background: lightgray;
}


#container {
    display: flex;
    align-items: center;
}

.container-item {
    display: flex;
}

.text-link{
    width: 40%;
    display:flex;
}

.media-link{
    width: 40%;
    display:flex;
    justify-content: end;
}

.mid {
    width: 20%;
    display:flex;
    justify-content: center;
}

a:link {
    color: black;
}

a:visited{
    color: black;
}

li {
    color: black;
    list-style: none;
    font-weight: bolder;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 0 .5em;
}

.logo {
    font-size: 3em;
    padding: .2em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.center {
    margin: 0 auto;
}

li:nth-child(5){

    margin: auto;
}

.link-text {
    font-family: 'Work Sans', sans-serif;
}

a:hover {
    color: blue;
}