:root {
    --purple: purple;
    --black: rgb(8, 10, 8);
}

body {
    color: var(--black);
}

.mapSize {
    height: 70vh;
    width: 100vw;
}

.weatherBoxSize {
    height: 40vh;
    width: 100vw;
}

.borderBlack {
    border: 9px solid black;
}

.weatherImage{
}
