* {
  box-sizing: border-box;
}



body {
  font-size: 1.4em;
}






/*MEDIA QUERY SIZES */
@media screen and (min-width: 576px) {
  body {
    display: flex;
    flex-flow: column wrap;
    padding: 1.3em;
  }
}



@media screen and (min-width: 768px) {
  body{
    font-size: 1.2em;
  }

  .logo-size {
    width: 90px;
    height: 90px;
  }

}

@media screen and (min-width: 992px) {
  body{
    font-size: 1.1em;
  }

  .logo-size {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  body{
    font-size: 1em;
  }

  .logo-size {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1400px) {
  body{
    font-size: .9em;
  }

  .logo-size {
    width: 60px;
    height: 60px;
  }

}



/*  nav {*/
/*    width: 100%;*/
/*    background-color: white;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*  }*/

/*  h1 {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    font-weight: bolder;*/
/*    font-size: 4em;*/
/*  }*/

/*  div{*/
/*    width: 100%;*/
/*  }*/

/*  .alert-info{*/
/*    display:inline-block;*/
/*    background-color: lightblue;*/
/*    border: 1px solid lightgray;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    padding: 1em;*/
/*  }*/
/*  .alert-info>a {*/
/*    text-decoration: none;*/
/*  }*/
/*  ul{*/
/*    width: 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*  }*/

/*  li{*/
/*    background-color: lightgray;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    margin: .5em 0;*/
/*    padding: 1.5em;*/


/*  }*/

/*  .nav-link{*/
/*    width: 100%;*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*  }*/

/*  .header-img {*/
/*    width: 100%;*/
/*  }*/

/*  img{*/
/*    width: 100%;*/
/*  }*/

/*  .main {*/
/*    width:100%;*/
/*  }*/

/*  .sub-section {*/
/*    width: 100%;*/
/*  }*/

/*  .hidden-on-desktop {*/
/*    display: inline-block;*/
/*  }*/

/*}*/


/*.header {*/
/*  width: 100%;*/
/*}*/

/*ul {*/
/*  width: 50%;*/
/*  list-style: none;*/
/*  display: inline;*/
/*}*/

/*li {*/
/*  display: inline;*/
/*}*/

/*.alert-info{*/
/*  background-color: white;*/
/*}*/

/*.header-img{*/
/*  width: 100%;*/
/*}*/
/*.header-img img {*/
/*  width: 100%;*/
/*}*/

/*img {*/
/*  width: 100%;*/
/*}*/

/*.main{*/
/*  width: 60%;*/
/*}*/

/*.sub-section {*/
/*  width: 40%;*/
/*  font-style: italic;*/
/*}*/

/*.hidden-on-desktop {*/
/*  display: none;*/
/*}*/

/*footer {*/
/*  width: 100%;*/
/*}*/



