:root{
    --purple: purple;
    --blue1: lightblue;
    --blue2: paleturquoise;

}

.cardHeight {
    height: 200px;
}

.borderBlack {
    border: 3px solid black;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}